$colors: (
    primary: #037cbb,
    secondary: #020936,
    bglcolor:#f0f0f0,
    bgdcolor:#043556,
    white-text: #fff,
    black-text:#000
  );


  body {
  padding: 15px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}



.container {
  max-width: 1170px;
  margin: auto;
  .header {
    display: flex;
    justify-content: space-between;
    .leftmenu{
      display: flex;
      justify-content: flex-end;
      .logo {
        img {
          width: 12em;
          padding: 15px 0 15px 0;
        }
      }

    }
    .rightmenu {
      display: flex;
      justify-content: flex-end;
      nav {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        ul {
          display: flex;
          a { 
            color: map-get($colors , secondary );
            text-decoration: none;
            font-size: 15px;
            font-weight: 100;
            padding: 15px 0 15px 0;
            
            &:hover {
              border-bottom: solid 4px map-get($colors , secondary );
              -webkit-transition: 0.5s;
              transition: 0.5s;
            }
          }
          li {
            list-style: none;
            padding-right: 20px;
          }
        }
      }
      .search{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
        margin-left: 15px;
      }
    }
  }
  .content-fluid {
    width: 100%;
  }
  .content-fluid-bg {
    background-color: map-get($colors , bglcolor );
  }
  .content-main {
    height: 80vh;
  }
  .content {
    .content-left {
      width: 50%;
      h1 {
        color: map-get($colors , secondary );
        font-size: 36px;
        margin-bottom: 5px;
      }
      h2{
        font-size: 3.25rem;
        color: map-get($colors , secondary );
        margin-bottom: 5px;
      }
      .p2 {
        font-size: 28px;
        color: map-get($colors , secondary );
      }
      p {
        color: map-get($colors , primary);
        font-size: 34px;
        margin-top: 1px;
      }
      button {
        padding: 10px 40px;
        text-transform: uppercase;
        border-radius: 8px;
        border: 2px solid map-get($colors , primary );
        color: map-get($colors , primary );
        font-size: 18px;
        font-weight: 500;
        &:hover {
          background-color: map-get($colors , primary );
          color: #fff;
          -webkit-transition: 0.5s;
              transition: 0.5s;
        }
      }
    }

    .content-right{
      width: 50%;
      img{
        max-width: 80%;
      }
    }
    display: flex;
    
    align-items: center;
  }

}

.content-fluid-bg {
  color: map-get($colors , bglcolor );
  padding: 40px 10px 40px 10px;
  border-radius: 10px;
}